<form action="/" id="form" method="post">
<div class="row col-lg-12">
  <p class="col-lg-12">Let's see if you can take your car out today!! Please enter your car's plate number and a desired date and time.</p>
  <div class="form-group col-lg-4">
    
    <%= label_tag "plate-number", "Plate Number:", {class: "col-lg-6"} %>
    <%= text_field "data", "plate_number", {class: "col-lg-6 form-control", id: "plate-number", maxlength: 8, required: true, value: (params[:data].present? && params[:data][:plate_number].present?) ? params[:data][:plate_number] : ''}%>
    
  </div>
  <div class="form-group col-lg-4">
    <%= label_tag "date", "Select a date:", {class: "col-lg-6"} %>
    <%= text_field "data", "date", {class: "col-lg-6 form-control datepicker", id: "date", required: true, "data-date-format": "dd-mm-yyyy", value: (params[:data].present? && params[:data][:date].present?) ? params[:data][:date] : ''}%>
    

  </div>

  <div class="form-group col-lg-4">
    <%= label_tag "time", "Select a time:", {class: "col-lg-6"} %>
    <%= text_field "data", "time", {class: "col-lg-6 form-control timepicker", id: "time", required: true, value: (params[:data].present? && params[:data][:time].present?) ? params[:data][:time] : ''}%>
    

  </div>

  <div class="form-group col-lg-12">
    <%= submit_tag "Try me", {class: "btn btn-info"}%>
 	</div>

 	<% if @message.present? %>
 		<div id="message-alert" class="alert col-lg-6 <%= @message[1] ? 'alert-danger' : 'alert-success' %>"><%= @message[0] %></div>
	<% end %>

    <div class="alert col-lg-6 alert-danger hidden" style="display: none;" id="error-messages"></div>

 </div>

 
  
</form>



<%= content_for :page_specific_javascript do %>
 <script>
    jQuery(document).ready(function($) {

      $('.datepicker').datepicker( "option", "dateFormat", 'yy-mm-dd' ); // Instancing datepicker
      $('.timepicker').timepicker({
        step: 15 // 15 minutes
      });

      // Adding ad hyphen after the third character
      $('#plate-number').keyup(function() {
        if($(this).val().length == 3){
          $(this).val($(this).val() + "-");
        }
      });

      $("#form").submit(function(){
        $("#message-alert").remove(); // Removing message
        plate_number = $("#plate-number").val().replace("-", "").split('');
        error_in_letters = false;
        error_in_numbers = false;
        error_message = "";
        number_message = "";
        letters_message = "";
        
        //Validating if plate contains 6 or 7 digits
        if(plate_number.length == 8 || plate_number.length == 7){ // Checking with 7 and 8 because of the extra hyphen 
          for(i=1; i < 4; i++){
            if(plate_number[i-1].match(/[a-z]/i) == null){ // Checking if string
              letters_message = "The character in position '" + i + "' should be a letter."
              error_in_letters = true;
              break; // Break if
            }
            if(error_in_letters == true)
              break; // Break for loop
              
          }


          for(i=4; i < plate_number.length + 1; i++){
            if(isNaN(plate_number[i-1])){ // Checking if number
              position = i + 3;
              number_message = "The character in position '" + i + "' should be a number."
              error_in_numbers = true;
              break; // Break if
            }
            if(error_in_numbers == true)
              break; // Break for loop
            else
              number_message = "";
          }


          if(error_in_letters == true || error_in_numbers == true){
            $("#error-messages").text(letters_message + " " + number_message);
            $("#error-messages").css("display", "block");
            return false;
          }else{
            $("#error-messages").attr("display", "none");
            return true;
          }

          

        }else{
          alert("There's something wrong with your plate number. We expect a 6 or 7 plate number format."); //The number digits are incorrect
        }
        return false;

    	});

    });

  </script>
<% end %>
